<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://cdbcostwd.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/12053b8f-cab5-4f5c-9c1a-870580142abd/resourceGroups/fabianm/providers/Microsoft.Web/sites/cdbcostwd</ResourceId>
    <UserName>$cdbcostwd</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://cdbcostwd.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>